# Git
.git
.github
.gitignore
.gitattributes

# IDEs & OS Files
.idea
.vscode
.DS_Store
Thumbs.db

# Dependencies
/vendor
/node_modules

# Build Caches & Logs
npm-debug.log
yarn-error.log
/public/build
/public/hot

# Environment Variables
.env
.env.*
!.env.example

# Laravel Storage & Cache
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore

# Testing
.phpunit.result.cache

docker-compose*.yml
Dockerfile
.dockerignore
README.md
