VITE_API_BASE_URL=http://localhost:8000/api
VITE_APP_URL=http://localhost:5173

VITE_REVERB_APP_ID=123456
VITE_REVERB_APP_KEY=quiz_app_key_dev
VITE_REVERB_APP_SECRET=quiz_app_secret_dev
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http
