@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #006876;
  --color-primary-container: #00bcd4;
  --color-on-primary: #ffffff;
  --color-on-surface: #1a1c1c;
  --color-on-surface-variant: #3c494c;
  --color-secondary: #ac3509;
  --color-surface: #f9f9f9;
  --color-surface-container: #eeeeee;
  --color-surface-container-high: #e8e8e8;
  --color-surface-container-highest: #e2e2e2;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans antialiased;
  }
}

@layer components {
  .card {
    @apply bg-surface border border-surface-container-highest shadow-sm rounded-xl overflow-hidden;
  }
  .btn {
    background: radial-gradient(circle at bottom left, #00053a 0%, transparent 45%), 
                linear-gradient(180deg, #229cee, #062b63 45%, #000a5a);
    color: white;
    font-weight: 500;
    border-radius: 0.25rem;
    padding: 0.625rem 1rem;
    transition: opacity 0.2s;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  }

  .btn:hover {
    opacity: 0.9;
  }
}
